In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Could not get version for google-chrome with the command:  powershell "$ErrorActionPreference='silentlycontinue' ; (Get-Item -Path "$env:PROGRAMFILES\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion ; if (-not $? -or $? -match $error) { (Get-Item -Path "$env:PROGRAMFILES(x86)\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { (Get-Item -Path "$env:LOCALAPPDATA\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { reg query "HKCU\SOFTWARE\Google\Chrome\BLBeacon" /v version } if (-not $? -or $? -match $error) { reg query "HKLM\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Google Chrome" /v version }"
Current google-chrome version is UNKNOWN
Get LATEST chromedriver version for UNKNOWN google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Owner\.wdm\drivers\chromedriver\win32\99.0.4844.51]

## Mars News

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [5]:
# Convert the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

slide_elem.find('div', class_='content_title')

In [6]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Screening Soon: 'The Pathfinders' Trains Lens on Mars"

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.'

## Featured Image

In [8]:
url1 = 'https://spaceimages-mars.com/'
browser.visit(url1)

In [9]:
# Optional delay for loading the page
#browser.is_element_present_by_css('div.list_text', wait_time=1)

In [10]:
# Convert the browser html to a soup object
html1 = browser.html
news_soup1 = soup(html1, 'html.parser')

slide_elem1 = news_soup1.select_one('div.floating_text_area')

print(slide_elem1.find('div'))

None

In [11]:
# Use the parent element to find the first a tag and save it as `news_title`
image_url_location = slide_elem1.find('a')
image_url= image_url_location['href']
featured_image_url= (f'{url1}{image_url}')
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts

In [12]:
url2 = 'https://galaxyfacts-mars.com/'

In [13]:
tables = pd.read_html(url2)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
tables_df= tables[0]
tables_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
tables_df=tables_df.rename(columns={0:'Description', 1:'Mars', 2:'Earth'})
tables_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
tables_df.set_index('Description')

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [17]:
tables_df.to_html("Mars Facts.html")

## Mars Hemispheres

In [18]:
url3= ['https://marshemispheres.com/cerberus.html', 'https://marshemispheres.com/schiaparelli.html', 'https://marshemispheres.com/syrtis.html', 'https://marshemispheres.com/valles.html']

In [19]:
browser.visit('https://marshemispheres.com/cerberus.html')
html3 = browser.html

news_soup3 = soup(html3, 'html.parser')

slide_elem3 = news_soup3.select_one('img.wide-image')

print(slide_elem3)

<img class="wide-image" src="images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"/>

In [20]:
slide_elem3['src']

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [21]:
slide_elem4 = news_soup3.select_one('div', class_='cover')
slide_elem4.h2.text

'Cerberus Hemisphere Enhanced'

In [32]:
Title=[]
Img_url=[]
titles_img=[]

for item in url3:
    browser.visit(item)
    html3 = browser.html

    news_soup3 = soup(html3, 'html.parser')

    slide_elem3 = news_soup3.select_one('img.wide-image')
    slide_elem3_url= item +'/'+ slide_elem3['src']
    Img_url.append(slide_elem3_url)

    slide_elem4 = news_soup3.select_one('div', class_='cover')
    Title.append(slide_elem4.h2.text)

    list1=[slide_elem4.h2.text, slide_elem3_url]
    titles_img.append(list1)

In [33]:
titles_img

[['Cerberus Hemisphere Enhanced',
  'https://marshemispheres.com/cerberus.html/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'],
 ['Schiaparelli Hemisphere Enhanced',
  'https://marshemispheres.com/schiaparelli.html/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'],
 ['Syrtis Major Hemisphere Enhanced',
  'https://marshemispheres.com/syrtis.html/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'],
 ['Valles Marineris Hemisphere Enhanced',
  'https://marshemispheres.com/valles.html/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']]

In [24]:

hemisphere_image_url=[]
for title, img in titles_img:
    hemisphere_dict={'Title':title, 'img_url': img}
    hemisphere_image_url.append(hemisphere_dict)

In [25]:
hemisphere_image_url

[{'Title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]